* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    background-color: #EDEDED;
    display: flex;
    width: 100%;
}

.navigation > a{
    width: 120px;
    height: 120px;
    color: black;
    background-color: #B4C7E7;
    float: left;
    font-size: large;
    margin: 1px;
    padding: 90px 0 0 50px;
    border: 2px solid;
}

.contenerMain{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
}

.sectionGauche{
    background-color: #70AD47;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

.sectionGauche > p{
    background-color: #E2F0D9;
    width: 95%;
    height: 50px;
    border: 1px solid;
    text-align: end;
    
}

#titreGauche{
    background-color: #A9D18E;
    border: 1px solid;
}

.mainPage{
    background-color: #FFC000;
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: end;
}
.mainPage > p{
    background-color: #FFD966;
    height: 50px;
    border: 1px solid;
    margin: 0 0 0 5px;
}
.mainPage > div{
    background-color: #FFF2CC;
    border: 1px solid;
    height: 100px;
    margin: 0 1px 1px 10%;
}

.sectionDroite{
    background-color:#A365D1;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.sectionDroite > p{
    background-color: #E9B5ED;
    margin: 2px;
    height: 50px;
    border: 1px solid;
    left: 5px;
}

.PiedPage{
    width: 100%;
    height: 50px;
    background-color: #F4B183;
    text-align: end;
}