@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Header */
html {
    scroll-behavior: smooth;
}

nav > div > div > div> ul > li > a, #modalFontColor, #staticBackdropLabel, .dropdown-item{
    font-family: 'Caveat', sans-serif;
    font-size: 1.5em !important;
    color: rgb(56, 102, 0) !important;
}
a:hover, .active{
    color:rgb(152, 122, 61) !important;
}
#couleurDropDown, nav{
    background-color: rgb(243, 245, 242);
}

.navbar {
    color: #386600 !important;
    box-shadow: 1px 1px 3px rgba(56, 102, 0, 0.54) !important;
    z-index: 9;
}

.navbar img {
    height: 70px;
}

.mv-navbar .nav-link{
    border-bottom: 1px solid transparent !important;
    transition: padding-bottom .4s ease-in-out, border-color 0.3s ease;
}

.mv-navbar .nav-link:hover{
    padding-bottom: 10px;
    border-bottom-color:rgb(152, 122, 61) !important;;
}

.cart {
    position: relative;
    top: 10px;
    padding-left: 20px;
}
/*--------------------------------------------------------------*/

/* Products */


.products{
    flex-wrap: wrap;
    padding-top: 96px;
}

.product-item{
    width: 300px;
    height: 350px;
    margin: 1rem 0rem;
    background-color: rgb(243, 245, 242);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
    -webkit-box-shadow: rgb(56, 102, 0) -1px 3px 8px 5px inset, rgb(56, 102, 0) 2px 5px 16px 0px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: rgb(56, 102, 0) -1px 3px 8px 5px inset, rgb(56, 102, 0) 2px 5px 16px 0px, 5px 5px 15px 5px rgba(0,0,0,0);
}

.product-img img{
    margin: auto;
    display: block;
    width: 100%;
    height: 160px;
    cursor: pointer;
}

.product-description{
    text-align: center;
}

.product-description h4 a,
.product-description p{
    text-decoration: none;
    position: relative;
    top: 15px;
    color: rgb(56, 102, 0);
    font-family: 'Pacifico', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#fruits {
    background: center/cover url("images/fruits.png") no-repeat;
    height: 300px;
    position: relative;
    top: 86px;
}

#legumes {
    background: center/cover url("images/legumes.png") no-repeat;
    height: 300px;
    position: relative;
    top: 86px;
}

#viandes {
    background: center/cover url("images/Meat-new.png") no-repeat;
    height: 300px;
    position: relative;
    top: 86px;
}

#diversProd {
    background: center url("images/divers.png") no-repeat;
    height: 300px;
    position: relative;
    top: 86px;
}

.foodwrap {
    height: 10px;
    position: relative;
    top: 86px;
    background-color: rgb(152, 122, 61);
    opacity: 50%;
}

/* Buttons */
.buttons{
    display: inline-block;
    border: 1px solid rgb(152, 122, 61);
    margin-top: 10px;
    opacity: 80%;
}

.buttons button{
    
    color: rgb(243, 245, 242);
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: rgb(152, 122, 61);
    cursor: pointer;
    font-size: 1rem;
}

.buttons input{
    border: none;
    outline: none;
    width: 20px;
    font-size: 1rem;
    margin: 5px 5px; 
    color: rgb(152, 122, 61);
    background-color: rgb(243, 245, 242);
    text-align: center;
}

.amount-details{
    padding: 11px;
    background-color: rgb(152, 122, 61);
    color: rgb(243, 245, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amount-details h3 {
    font-family: 'Crimson Text', sans-serif;
    font-size: 2em;
    padding: 30px 20px 20px 20px;
}